<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <!--<div class="footer-col footer-col-2">-->
        <!--<ul class="social-media-list">-->
          <!--{% if site.github_username %}-->
          <!--<li>-->
            <!--{% include icon-github.html username=site.github_username %}-->
          <!--</li>-->
          <!--{% endif %}-->

          <!--{% if site.twitter_username %}-->
          <!--<li>-->
            <!--{% include icon-twitter.html username=site.twitter_username %}-->
          <!--</li>-->
          <!--{% endif %}-->
        <!--</ul>-->
      <!--</div>-->

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <a href="{{ site.author.github_url | prepend: site.url }}">
            <span class="icon icon--github">
                {% include icon-github.svg %}
            </span>
          </a>
          <!--{% include icon-github.html username=site.github_username %}-->
        </footer>
      </div>
    </div>
  <amp-user-notification layout=nodisplay id="amp-user-notification1">
      This website uses cookies to ensure you get the best experience on our website.
    <button class="button" on="tap:amp-user-notification1.dismiss">I accept</button>
  </amp-user-notification>

  <!--Google Analytics-->
  <amp-analytics type="googleanalytics" id="analytics1">
    <script type="application/json">
    {
      "vars": {
        "account": "UA-3090430-2"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
  </amp-analytics>

</footer>
