<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ page.url | prepend: site.url  }}",
  "name": "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}",
   "author": {
      "@type": "Person",
      "name": "{{ site.author.name }}"
    },
  "description": "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.author.name }}",
    "logo": {
        "@type": "ImageObject",
        "url": "{{ site.logo | prepend: site.url }}",
        "width": 600,
        "height": 60
    }
    "image": {
        "@type": "ImageObject",
        "url": "{{ page.image.location | prepend: site.url }}",
        "height": {{ page.image.height }},
        "width": {{ page.image.width }}
    },
  }
}
</script>
