<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url | prepend: site.url }}"
    },
    "publisher": {
	    "@type": "Organization",
	    "name": "{{ site.author.name }}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ site.logo | prepend: site.url }}",
            "width": 600,
            "height": 60
        }
    },
    "image": {
        "@type": "ImageObject",
        "url": "{{ page.image.location | prepend: site.url }}",
        "height": {{ page.image.height }},
        "width": {{ page.image.width }}
    },
    "headline": "{{ page.title  }}",
    "editor": "{{ site.title }}",
    {% if page.categories %}"keywords": "{{ page.categories | join }}",{% endif %}
    "wordcount": "{{ page.content | number_of_words }}",
    "url": "{{ page.url | prepend: site.url }}",
    "datePublished": "{{ page.date }}",
    "dateModified": "{{ page.date }}",
    "description": "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}",
    "articleBody": "{{ page.content | strip_html | strip_newlines }}",
    "author": {
        "@type": "Person",
        "name": "{{ site.author.name }}"
    }
}
</script>