<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<link rel="canonical" href="{{ page.url | prepend: site.url }}" />
<!-- Facebook -->
<meta property="fb:app_id" content="{{ site.facebook.app_id }}" />
<meta property="og:url" content="{{ page.url | prepend: site.url }}"  />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"  />
<meta property="og:image" content="{{ page.image.location | prepend: site.url }}"  />
<meta property="og:image:width" content="{{ page.image.width }}"  />
<meta property="og:image:height" content="{{ page.image.height }}"  />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<!-- Facebook -->

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.twitter_username }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta name="twitter:image" content="{{ page.image.location | prepend: site.url }}"  />
<!-- Twitter -->

<meta name="google-site-verification" content="{{ site.google_site_verification }}" />

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "{{ site.author.name }}",
  "url" : "{{ site.url }}",
  "sameAs" : [
    "{{ site.author.facebook_url }}",
    "{{ site.author.linkedin_url }}",
    "{{ site.author.github_url }}",
    "{{ site.author.googleplus_url }}"
  ]
}
</script>

{% if page.layout == 'post' %}
{% include json-ld-post.html %}
{% endif %}

{% if page.layout == 'default' %}
{% include json-ld-page.html %}
{% endif %}

